.containerHidden {
    display: none;
}

.container {
    background-color: rgba(109, 110, 103, 0.849);
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    text-align: center;
    flex-wrap: wrap;
    min-width: 200px;
    margin-top: 1px;
}

.containerFiltrosOrigenGenero {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

.texto {
    top: 30%;
    left: 50%;
    color: rgb(255, 255, 254);
    font-family: "Helvetica", Helvetica, sans-serif;
    font-size: 1em;
    padding-left: 5px;
    padding-right: 5px;
}

.containerOrdenRatingAlfa {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-right: 5px;

}

.contButton {
    background-image: linear-gradient(to right, #006175 0%, #1fcab3 100%);
    border-radius: 10px;
    box-sizing: border-box;
    color: #1fcab3;
    display: block;
    height: 60px;
    font-size: 1.5em;
    padding: 4px;
    text-decoration: none;
    width: 6em;
    margin: 0%;
}

.contButton:hover {
    color: #fff;
}

.contButton .button {
    align-items: center;
    background: #0e0e10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    color: #1fcab3;
    font-size: 1em;
}

.contButton:hover .button {
    background: transparent;
    color: #fff;
}

@media (max-width: 450px) {
    .container {
        justify-content: space-around;
        flex-direction: column;
        align-items: center;
    }

    .mainTitle {
        font-size: 1.5em;
    }

    .containerSec {
        flex-direction: column;
    }

    .contButton {
        width: 80%;
        margin-top: 2%;
    }
}