.container {
    background-color: rgba(172, 48, 48, 0.774);
}

.mainTitle {
    background-color: rgba(106, 48, 172, 0.774);
}

.secondText {
    background-color: rgba(13, 45, 148, 0.897);
}

.startButton {
    background-color: rgba(16, 180, 131, 0.774);
}

.imgBack {
    background-color: rgba(212, 149, 30, 0.774);
}