.container {
    background-color: rgba(35, 37, 4, 0.692);
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* centrado */
    max-width: 650px;
    min-width: 350px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* centrado */

    @media (max-width: 500px) {
        top: 75%;
        transform: translate(-50%, -50%);
    }
}

.img {
    max-width: 40%;
    min-width: 350px;
    border-radius: 10%;
    margin-top: 10px;
}

.img:hover {
    filter: saturate(180%);
    transition: all .5s ease-in-out;
}

.secondText {
    color: rgb(253, 249, 5);
    font-family: "Courier New", Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}

.thirdText {
    color: rgb(250, 250, 243);
    font-family: "Courier New", Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: center;
}


.descripcion {
    height: 200px;
    overflow-y: scroll;
    border: 1px solid #ccc;
    padding-left: 10px;
    padding-right: 10px;
    color: rgb(253, 249, 5);
    font-family: "Courier New", Helvetica, sans-serif;
    font-size: 1em;
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
    min-width: 320px;
    max-width: 600px;
}

.containerLoading {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.imgWait {
    width: 40%;
    max-width: 300px;
    min-width: 350px;
}

.contButton {
    background-image: linear-gradient(to right, #006175 0%, #1fcab3 100%);
    border-radius: 10px;
    box-sizing: border-box;
    color: #1fcab3;
    display: block;
    height: 60%;
    font-size: 2.0em;
    padding: 4px;
    text-decoration: none;
    width: 90%;
    max-width: 350px;
    margin-left: 8px;
    margin-left: 1px;
}

.contButton:hover {
    color: #fff;
}

.contButton .button {
    align-items: center;
    background: #0e0e10;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    height: 100%;
    transition: background 0.5s ease;
    width: 100%;
    color: #1fcab3;
    font-size: 1em;
}

.contButton:hover .button {
    background: transparent;
    color: #fff;
}