.container {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
}

.containerSec {
    margin-top: 10%;
    color: rgb(255, 255, 254);
}

.img {
    width: 40%;
    height: auto;
}