body {
  margin: 0;
  padding: 0;
  background-image: url('https://res.cloudinary.com/dvptbowso/image/upload/v1698325626/PI_Videogames/cjis6zguz3436me4innx.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}