body {
  margin: 0;
  padding: 0;
  background-image: url('https://res.cloudinary.com/dvptbowso/image/upload/v1698757560/PI_Videogames/Fondo_xv1gnf.jpg');
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}